@font-face {
	font-family: robotoMedium;
	src: url(roboto-2014/Roboto-Medium.ttf);
}

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: robotoMedium;
	color: white;
	display: flex;
	align-items: center;
}

.bg {
	background: url(bigwood.jpg) no-repeat center center fixed;
	content: "";
	/* opacity: 0.5;*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	overflow: auto;
}

.main {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.title {
	font-size: 3em;
}

.profile {
	display: flex;
	align-items: center;
}

.profile img {
	width: 100%;
	height: auto;
	margin: auto;
}

.col {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.5em;
}

.social {
	font-size: 3em;
	color: white;
	text-decoration: none;
}

@media screen and (min-width: 800px), screen and (orientation: landscape) {
	.main {
		width: 60%;
	}
}

@media screen and (orientation: landscape) {
	.main {
		width: 40%;
	}
}

@media screen and (max-height: 479px) {

	.main {
		width: 40%;
	}
	.title, .social {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 480px) {
	.title, .social {
		font-size: 1.5em;
	}
}

